* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    bottom: 0;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.font-semibold {
    font-weight: 600;
}

.btn-link {
    font-weight: 400;
    font-size: 15px;
    color: #98A2B3;
    text-decoration: none;
}

.logo-header {
    display: block;
    margin: 30px auto 43px;
}

.header-text {
    font-weight: 600;
    font-size: 28px;
    color: #101828;
    text-align: left;
}

.body-text {
    font-weight: 400;
    font-size: 15px;
    color: #667085;
    text-align: left;
}

.header-text + .body-text {
    margin-top: 10px;
    margin-bottom: 50px;
}

.footer-text-bold {
    font-weight: 600;
    font-size: 16px;
    color: #101828;
}

.footer-text-regular {
    font-weight: 400;
    font-size: 15px;
    color: #667085;
    margin-top: 5px;
}

.container table tfoot > tr > td > table > tbody > tr > td.footer-cell {
    font-size: 15px;
    font-weight: 400;
    color: #667085;
    text-align: right;
    vertical-align: bottom;
    width: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border-bottom: 1px solid #E0E0E0;
}

.td-border-none {
    border: none;
}

.table-inner {
    width: 600px;
    margin: 12px auto;
    padding: 12px 20px 24px;
}

.table-right {
    text-align: right;
    color: #101828;
}

.table-main {
    height: 56px;
}

.w-376 {
    width: 376px;
    color: #667085;
}

.logo-footer {
    display: block;
    margin: 50px 0 12px 0;
}